/* Global
========================================
*/

/* Charset */
@charset 'UTF-8';

/* Box sizing */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* Selection */
::selection {
	background: #b55636;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: #b55636;
	color: #fff;
	text-shadow: none;
}

/* Focus */
*:focus {
	outline: 2px solid #b55636;
}

/* Media */
img,
svg,
canvas,
audio,
video,
iframe {
	display: inline-block;
	max-width: 100%;
	border: none;
}

/* Visually hidden */
.hidden {
	clip: rect(0 0 0 0);
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	position: absolute;
	border: 0;
}


/* Typography
========================================
*/

/* Default colors & typeface */
body {
	background-color: #ece9e2;
	color: #000;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: .8rem;
	line-height: 1.5;
	margin: 0;
}

/* Links */
a {
	color: #702802;
}
a:hover,
a:focus {
	color: #000;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
th {
	color: #333;
	line-height: 1.2;
}
h1 {
	letter-spacing: 1px;
}

/* List */
ol,
ul {
	padding-left: 0;
}
ul {
	list-style-type: square;
	list-style-position: inside;
}

/* Definition list */
dt {
	font-weight: bold;
}

/* Figure */
figure {
	margin: 0;
}
figcaption > * {
	margin-top: 0;
}

/* Code */
code,
pre,
samp,
kbd,
var {
	background-color: #bfb5a1;
	font-family: 'Menlo', 'Monaco', 'Courier New', 'Courier', monospace;
}
pre {
	overflow-x: scroll;
	padding: .5rem;
}

/* Table */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th,
td {
	padding: .25rem .5rem;
	border: 1px solid #bfb5a1;
}
th {
	background-color: #d7cfc0;
	text-align: left;
}

/* Qutation */
blockquote,
q {
	color: #bd3000;
	margin: 0;
}
q {
	quotes: none;
}

/* Explanations */
abbr[title],
dfn[title] {
	border-bottom: thin dotted;
	cursor: help;
}
@supports (text-decoration: dotted underline) {
	abbr[title],
	dfn[title] {
		text-decoration: dotted underline;
		border-bottom: none;
	}
}

/* Spoiler */
.spoiler {
	background-color: #333;
	color: #333;
	text-shadow: none;
}
.spoiler a {
	color: #333;
}
.spoiler:hover,
.spoiler:focus,
.spoiler:hover a,
.spoiler:focus a,
.spoiler a:hover,
.spoiler a:focus {
	color: #fff;
}

/* Horizontal rule */
hr {
	border: none;
	border-top: 1px solid #706b5e;
}

/* Labels */
.label {
	color: #fff !important;
	font-size: .8rem;
	font-weight: bold;
	display: inline-block;
	padding: 0 .25rem;
	border-radius: .25rem;
}
.pro {
	background-color: #080 !important;
}
.pro.button {
	border: 1px solid #080;
}
.contra {
	background-color: #b20000 !important;
}
.contra.button {
	border: 1px solid #b20000;
}
.nsfw {
	background-color: #333;
	color: #fff;
}

/* Team */
.team {
	color: #fff;
	font-weight: bold;
	font-style: italic;
	text-shadow: 1px 1px 0 #a000cc, 1px -1px 0 #a000cc, -1px 1px 0 #a000cc, -1px -1px 0 #a000cc;
}

/* Warning */
.warn {
	color: #b20000;
}

/* Flipped text */
.flipped {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

/* Floats */
.right {
	float: right;
}
.left {
	float: left;
}


/* Header
========================================
*/

/* Main header */
body > header {
	text-align: center;
}

/* Banner */
.banner {
	display: inline-block;
	margin-top: 2rem;
}
.banner img {
	display: block;
	width: 300px;
	height: 100px;
	margin: 0 auto;
}


/* Navigation
========================================
*/

/* Navigation bar */
nav.bar {
	background-color: #d7cfc0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
header nav.bar {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}
footer nav.bar {
	margin-top: 2rem;
	box-shadow: -1px -1px 2px rgba(0, 0, 0, .5);
}

/* Navigation lists */
nav.bar dl,
nav.bar ul,
nav.bar ol {
	font-size: 0;
	display: inline-block;
	padding: 0;
	margin: 0;
}
nav.bar dt,
nav.bar li {
	display: inline-block;
}
nav.bar a {
	font-size: .8rem;
	font-weight: bold;
	text-decoration: none;
	display: block;
	padding: .25rem .5rem;
}
nav.bar dt a {
	border-right: 1px solid #706b5e;
}
nav.bar ul a {
	border-left: 1px solid #706b5e;
}
nav.bar a:hover,
nav.bar a:focus,
nav.bar a.on {
	background-color: #bfb5a1;
}
nav.bar.manage {
	background-color: #bfb5a1;
	border-top: 1px solid #706b5e;
}
nav.bar.manage a:hover,
nav.bar.manage a:focus {
	background-color: #d7cfc0;
}
nav.bar.manage a {
	border-left: none;
	border-right: 1px solid #706b5e;
}


/* Main wrapper
========================================
*/

main {
	display: block;
	padding: 1rem 0;
	margin: 0 2.5%;
	border-top: 1px solid #706b5e;
	border-bottom: 1px solid #706b5e;
}


/* Forms
========================================
*/

/* Form element reset */
button,
textarea,
select {
	background-image: none;
	background-color: transparent;
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

/* Inputs & textarea */
input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
textarea {
	background-color: #fff;
	font-family: monospace;
	font-size: 1rem;
	padding: 0.25em;
	border: 1px solid #706b5e;
}
input[type='text'] {
	width: 100%;
}
textarea {
	width: 100%;
}
.submit {
	text-align: right;
}


/* Legend & label */
legend,
.legend {
	background-color: #706b5e;
	color: #fff;
	font-weight: bold;
	width: 25%;
	float: left;
	padding: .25rem .5rem;
}
.legend a {
	color: #fff;
}
legend small,
.legend small {
	color: #ece9e2;
}

/* Buttons */
button,
.button {
	background-color: #d7cfc0;
	font-size: .8rem;
	font-weight: bold;
	display: inline-block;
	border: 1px solid #706b5e;
	border-radius: .25rem;
	cursor: pointer;
}
.button {
	color: #000;
	text-align: center;
	text-decoration: none;
	padding: 0 .25rem;
}
.button.toggle {
	font-size: .5rem;
	line-height: 1;
	width: 1.25rem;
	height: 1.25rem;
	vertical-align: top;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
	background-color: #bfb5a1;
}

/* Post form */
form.post {
	background-color: #d7cfc0;
	max-width: 35rem;
	padding: 1rem;
	margin: 1rem auto 2rem;
	border: 1px solid #bfb5a1;
}
form.post h2 {
	margin-top: 0;
}
form.post input[type='password'] {
	width: 100%;
}
form.post fieldset {
	padding: 0;
	margin: 0;
	border: none;
}
form.post .block {
	font-size: 0;
	clear: both;
	overflow: hidden;
	margin-bottom: 2px;
}
form.post .block > * {
	font-size: .8rem;
}
form.post .block > div {
	float: left;
	width: 75%;
	padding-left: .5rem;
}
form.post legend + div {
	margin: .25rem 0;
}

/* Delete form */
form.delete {
	text-align: right;
}
form.delete div {
	margin-bottom: .5rem;
}
form.delete input {
	width: 7rem;
}


/* Post layout
========================================
*/

/* Thread */
.thread {
	overflow: hidden;
	clear: both;
	margin-top: 1rem;
	padding: 1rem 0 1rem 2px;
	border-top: 1px solid #706b5e;
}
.thread-head,
.reply-head {
	word-wrap: break-word;
	position: relative;
}
.thread-head {
	padding-right: 2rem;
	margin-bottom: 1rem;
}
.thread-head h2,
.thread-head .meta {
	display: inline-block;
}
.thread-head h2,
.meta,
.actions {
	margin: 0;
}
.thread-head h2 a {
	text-decoration: none;
}
.thread-head .actions {
	padding-top: .25rem;
}
.omittedposts {
	color: #555;
	font-style: italic;
	clear: both;
}

/* Reply */
.reply {
	background-color: #d7cfc0;
	max-width: 100%;
	overflow: hidden;
	float: left;
	clear: both;
	border-top-right-radius: .5rem;
	border-top-left-radius: .5rem;
}
.reply:not(:last-child) {
	margin-bottom: .5rem;
}
.reply:target {
	outline: 2px dashed #706b5e;
}
.reply.highlight {
	background-color: #fe9;
}

.reply-head {
	background-color: #bfb5a1;
	padding: .25rem 2rem .25rem 1rem;
	border-bottom: 1px solid #706b5e;
}
.reply-content {
	overflow: hidden;
	padding: 1rem 1rem 0;
	border-right: 1px solid #bfb5a1;
	border-bottom: 1px solid #bfb5a1;
}
.reply-body {
	margin-bottom: 1rem;
}
.file + .reply-body > * {
	min-width: 40rem;
	max-width: 100%;
}
.reply-body > *:first-child {
	margin-top: 0;
}
.reply-body > *:last-child {
	margin-bottom: 0;
}

/* Action bar */
.actions {
	background-color: #d7cfc0;
	display: table;
	padding: .25rem .5rem 0;
	margin-top: .25rem;
	border-radius: .25rem;
}
.actions li {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: .25rem;
}
.actions li:not(:last-child) {
	margin-right: .5rem;
}
.actions button,
.actions .button {
	line-height: 1.8;
	display: inline-block;
	min-width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
	padding: 0 .25rem;
}
.ipname {
	font-family: monospace;
	font-size: 1rem;
}
.reflink {
	font-size: 1.25rem;
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	top: -.1rem;
	right: .5rem;
}

/* File */
.file {
	background-color: #bfb5a1;
	float: left;
	margin: 0 1.25rem 1rem 0;
	border: 1px solid #706b5e;
	border-top-right-radius: .5rem;
	border-top-left-radius: .5rem;
}
.file figcaption {
	text-align: center;
	line-height: 1.2;
	width: 100%;
	padding: .1rem .25rem;
}
.file a,
.file img,
.filename {
	display: block;
}
.file img {
	width: 100%;
}
.filename {
	color: #000;
	display: block;
	text-decoration: none;
	word-wrap: break-word;
}
a.filename:hover,
a.filename:focus {
	text-decoration: underline;
}
.filesize {
	margin: 0;
}
.deleted {
	color: #333;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	line-height: 1;
	padding: 1rem .5rem;
	margin: 0;
}


/* Catalog
========================================
*/

.catalog .thread,
.catalog .thread a {
	width: 15rem;
	height: 15rem;
}
.catalog .thread {
	display: inline-block;
	padding: 0;
	margin: 0 1rem 1rem 0;
	border: none;
}
.catalog .thread a {
	background-color: #d7cfc0;
	color: #000;
	text-decoration: none;
	display: block;
	position: absolute;
	overflow: hidden;
	padding: .5rem 1rem;
	border: 1px solid #bfb5a1;
}
.catalog .thread a:before {
	content: '';
	background-image: -webkit-linear-gradient(bottom, transparent 0%, rgba(215, 207, 192, 1) 100%);
	background-image: linear-gradient(to bottom, transparent, rgba(215, 207, 192, 1) 100%);
	display: block;
	width: 100%;
	height: 3rem;
	position: absolute;
	bottom: 0;
	left: 0;
}
.catalog .thread a:hover,
.catalog .thread a:focus {
	height: auto;
	box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, .25);
	z-index: 1;
}
.catalog .thread a:hover:before,
.catalog .thread a:focus:before {
	display: none;
}
.catalog .thread h2 {
	color: #702802;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	margin: 0;
	overflow: hidden;
}
.catalog .thread .file {
	background-color: inherit;
	display: block;
	float: none;
	margin: .5rem 0;
	border: none;
}
.catalog .thread .file img {
	width: auto;
	max-height: 7rem;
	margin: 0 auto;
}
.catalog p {
	margin: 0;
}


/* Content
========================================
*/

/* Content box */
.box {
	background-color: #d7cfc0;
	margin: 1rem 0;
}
.box:target {
	outline: 2px dashed #706b5e;
}
.box h2 {
	background-color: #706b5e;
	color: #fff;
	font-size: 1rem;
	margin: 0;
	padding: .25rem .5rem;
}
.box h2 a {
	color: #fff;
	text-decoration: none;
	display: block;
}
.box figcaption {
	font-style: italic;
}
.box th,
.box td {
	border: 1px solid #706b5e;
}
.box th {
	background-color: #bfb5a1;
}
.box-content {
	overflow: hidden;
	padding: 1rem;
	border-right: 1px solid #bfb5a1;
	border-bottom: 1px solid #bfb5a1;
	border-left: 1px solid #bfb5a1;
}
.box-content > *:first-child {
	margin-top: 0;
}
.box-content > *:last-child {
	margin-bottom: 0;
}

/* Error */
.error {
	font-size: 1rem;
	text-align: center;
}


/* Pagination
========================================
*/

nav.bar.pager {
	display: inline-block;
	margin-top: 2rem;
	border: 1px solid #706b5e;
}
nav.bar.pager a,
nav.bar.pager div {
	font-size: .8rem;
}
nav.bar.pager div {
	font-weight: bold;
	text-decoration: underline;
	padding: .25rem .5rem;
}


/* Footer
========================================
*/

footer {
	text-align: center;
	clear: both;
	padding-top: 1rem;
}


/* Front page
========================================
*/

.front {
	max-width: 40rem;
	margin: 0 auto;
}
.front h1 {
	font-size: 2.5rem;
	margin-bottom: 0;
}
.front header p {
	font-size: 1rem;
}
.front main {
	margin: 0;
	border: none;
}
.front figure {
	float: right;
}
.front figcaption {
	color: #555;
	text-align: center;
}


/* Large board navigation
========================================
*/

nav.boards ul {
	font-size: 1.5rem;
	list-style: none;
	width: 75%;
	padding-left: 0;
	border: 2px solid #bfb5a1;
	border-radius: .25rem;
}
nav.boards a {
	background-color: #d7cfc0;
	text-decoration: none;
	display: block;
	padding: .5rem 6rem .5rem 1rem;
}
nav.boards a:hover,
nav.boards a:focus {
	background-color: #bfb5a1;
}
nav.boards li:not(:last-child) {
	border-bottom: 2px solid #bfb5a1;
}

/* Sub navigation
========================================
*/

nav.sub {
	margin-bottom: 2rem;
}
nav.sub a:not(:last-child) {
	margin-right: 1rem;
}


/* Small version
========================================
*/

@media (max-width: 40em) {
	.left,
	.right {
		float: none;
	}
	nav.bar {
		text-align: left;
		-webkit-box-direction: normal;
		-moz-box-direction: normal;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	nav.bar dl {
		border-bottom: 1px solid #706b5e;
	}
	header nav.bar ul a {
		border-left: none;
		border-right: 1px solid #706b5e;
	}
	nav.bar.manage li {
		display: block;
	}
	nav.bar.manage a {
		border: none;
	}
	main {
		margin: 0 1rem;
	}
	form.post {
		margin: 0;
	}
	form.post .block {
		margin-bottom: .5rem;
	}
	form.post .block > div {
		padding-left: 0;
		margin-top: .25rem;
	}
	form.post .block > div,
	legend,
	.legend {
		display: block;
		width: 100%;
		float: none;
	}
	.reply {
		float: none;
	}
	.reply-body {
		clear: both;
	}
	.file + .reply-body > * {
		min-width: 0;
	}
	.front header,
	.front main {
		margin: 0 1rem;
	}
	.front header p {
		text-align: left;
	}
	.front figure {
		display: none;
	}
	.catalog .thread,
	.catalog .thread a {
		width: 100%;
	}
	.catalog .thread a {
		position: static;
	}
	.catalog .thread a:before {
		display: none;
	}
	nav.boards ul {
		width: 100%;
	}
	nav.boards a {
		padding-right: 1rem;
	}
	.delete {
		margin-top: 1rem;
	}
}
